# HoloBio Plugin Configuration
# This file tells Fiji where to place the plugin in the menu

Plugins>HoloBio, "Offline DHM", HoloBio_DHM_Plugin
Plugins>HoloBio, "Offline DLHM", HoloBio_DLHM_Plugin
Plugins>HoloBio, "Real-Time DHM", HoloBio_Camera_Plugin
Plugins>HoloBio, "Real-Time DLHM", HoloBio_RtDlhm_Plugin
Plugins>HoloBio, "AIA Phase Shifting (test)", HoloBio_AIA_Plugin
